:root {
  --primary-color: #6C63FF;
  --dropdown-bg: #F1F1F1;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html.dark {
    background-color: #252525;
    color: #f5f5f5;
  }
  
  html.dark input,
  html.dark textarea {
    background-color: #2a2a2a;
    color: #f5f5f5;
  }
  
  html.dark .todoItem {
    border-color: #444;
  }